################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorService/CalculatorService/bin/Debug/netcoreapp3.1
/CalculatorService/CalculatorMSTestService/obj
/CalculatorService/.vs/CalculatorService
/CalculatorService/CalculatorMSTestService/bin
/CalculatorService/CalculatorService/obj
/CalculatorService/CalculatorTestService/bin
/CalculatorService/CalculatorTestService/obj
/.vs
/EmployeeCURDOperations/.vs
/EmployeeCURDOperations/EmployeeCURDService/bin/Debug/net6.0
/EmployeeCURDOperations/EmployeeCURDService/obj
/EmployeeCURDOperations/EmployeeTestService/bin/Debug/net6.0
/EmployeeCURDOperations/EmployeeTestService/obj
